.btn {
  outline: none;
  box-shadow: none;
  border-width: 2px;
  border-radius: 3px;
  border-style: solid;
  padding: 8px;
}

.btn-primary {
  color: green;
  border-color: green;
  background-color: transparent;
}

input {
  width: 80%;
  border: none;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
  margin-right: 10px;
  padding: 5px;
  line-height: 17px;
}


